@charset "gb2312";
/**
* SDG CopyRight
* Jan 2011
* Ivan Xuximing @ SDG
* xuximing@shandagames.com
*/

@import url("copy.css");
.SDGCOPYRIGHT-wrap{background:#000 url("../images/bg_b.jpg") repeat-x left top;}
#SDGCOPYRIGHT{background:#000 url("../images/bg_b.jpg") repeat-x left top;}
.add1026 {color:#e5af20}
.add1026 span { margin:0 10px;color:#e5af20}
.SDGCOPYRIGHT-wrap .add1026 a:link,.SDGCOPYRIGHT-wrap .add1026 a:visited { color:#e5af20}
.SDGCOPYRIGHT-wrap .add1026 a:hover { color:#e5af20}
.SDGCOPYRIGHT-wrap20130425{background:#000 url("../images/bg_b.jpg") repeat-x left top; width:100%; overflow:hidden}
.SDGCOPYRIGHT-wrap20130425 .add1026 {color:#e5af20}
.SDGCOPYRIGHT-wrap20130425 .add1026 span { margin:0 10px;color:#e5af20}
.SDGCOPYRIGHT-wrap20130425 .add1026 a:link,.SDGCOPYRIGHT-wrap20130425 .add1026 a:visited { color:#e5af20}
.SDGCOPYRIGHT-wrap20130425 .add1026 a:hover { color:#e5af20}
/** new copyright end add by shanjie **/